<header class="flex items-center justify-between my-4">
  <div class="logo flex items-center gap-3">
    <i class='bx bxs-book-bookmark text-3xl'></i>
    <h1 class="font-semibold uppercase text-2xl text-white">Dicional</h1>
  </div>

  <div class="flex items-center gap-4">
    <ul class="flex items-center justify-center gap-10 bg-slate-800 rounded-md py-2 px-6">
      <li class="ativo"><i class='bx bxs-home' ></i></li>
      <li><i class='bx bxs-bar-chart-alt-2' ></i></li>
      <li><i class='bx bxs-cog'></i></li>
    </ul>
    <i class='bx bx-log-out-circle bg-slate-800 p-3 rounded-full cursor-pointer sair' ></i>
  </div>

</header>
